<div class="link-container">
  <div class="soc-link">
    <a target="_blank" href="https://twitter.com/kairopterror" class="soc-anchor">TWITTER</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://discord.gg/rvDCGTx9hx" class="soc-anchor">DISCORD</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://soundcloud.com/kairopterror" class="soc-anchor">SOUNDCLOUD</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://www.duolingo.com/profile/kairopterror" class="soc-anchor">DUOLINGO</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://www.dndbeyond.com/members/BillyCoda" class="soc-anchor">D&D BEYOND</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://www.twitch.tv/kairopterror" class="soc-anchor">TWITCH</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="https://steamcommunity.com/id/kairopterror/" class="soc-anchor">STEAM</a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="" class="soc-anchor"></a>
  </div>
  <div class="soc-link">
    <a target="_blank" href="" class="soc-anchor"></a>
  </div>
</div>